[Desktop Entry]
Version=1.0
Name=Scorer
Comment=Warhammer 40k Score Tracking App
Exec=/home/matthewantone/Scorer/launch_scorer.sh
Icon=/home/matthewantone/Scorer/assets/icon.png
Terminal=false
Type=Application
Categories=Game;Utility;
StartupNotify=true
Path=/home/matthewantone/Scorer/ 